apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: dotnet-basic-yeubqkyv
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: nexus-docker-nexus.apps.cluster-852ff.852ff.sandbox200.opentlc.com/rhtap/dotnet-basic-yeubqkyv:21532f9538206083e4421601279fed538128ce7e@sha256:d586f619426bbd9962fbae1ff3a2823ec3b605f61fdc3c88e1a69b27cdc8fad8
        name: container-image  
